<h1>Hair Salon</h1>

#foreach ($stylist in $stylists)
  <p><a href="/stylist/$stylist.getId()">$stylist.getName()</a></p>
#end

<h2>Add a Stylist</h2>
<form action="/" method="post">
  <label for="name">Stylist Name</label>
  <input id="name" name="name" type="text" required>

  <button type="submit" class="btn btn-info">Add Stylist</button>
</form>
